doctype html

html 

head
    title Tienda
    link(rel="stylesheet",href="../css/estilo.css")
body    
    h1
        a(href="tienda_de_fruta.com", id="tituloWeb") Tienda de Camisetas

    ul
        li